 /* 解决element表格对不齐的问题 */
 
 .el-table th.gutter {
     display: table-cell !important;
 }
 /* 表格展开行 */
 
 .demo-table-expand {
     font-size: 0;
 }
 
 .demo-table-expand label {
     width: 90px;
     color: #99a9bf;
 }
 
 .demo-table-expand .el-form-item {
     margin-right: 0;
     margin-bottom: 0;
     width: 50%;
 }